@{
    ViewData["Title"] = "Login/Registration";
}
<h1>Welcome to "The Wall"</h1>
<h4>Please Register/Login</h4>
<form action="register" method="post">
    <p>First Name: <input type="text" name="first"></p>
    <p>Last Name: <input type="text" name="last"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <p>Confirm Password: <input type="password" name="confirm"></p>
    <button type="submit">Register</button>
</form>
<p>@ViewBag.exists</p>
@{
    foreach(var error in ViewBag.errors)
    {
        if(@error.Errors.Count > 0)
            {
                <p>@error.Errors[0].ErrorMessage</p>
            }
    }
}

<form action="login" method="post">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <button type="submit">Login</button>
</form>
@ViewBag.incorrect